<form [formGroup]="form">
  <div class="form-control">
    <label>Description:</label>
    <input type="text" formControlName="description">
  </div>

  <div class="form-control">
    <label>Category:</label>
    <select formControlName="category">
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>
  </div>

  <div class="form-control">
    <label>Content:</label>
    <textarea formControlName="content"></textarea>
  </div>

</form>

<app-btn (click)="submit()" [text]="'Submit'"></app-btn>
